/* ---------------------
    Start Ainmate
------------------------ */
@keyframes toTop {
    0%,
    100% {
        top: -100px;
    }
    50% {
        top: 0;
    }
}

@keyframes toBottom {
    0%,
    100% {
        bottom: 100px;
    }
    50% {
        bottom: 50px;
    }
}
/* ---------------------
    End Ainmate
------------------------ */
